.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
    color: black;
  }

  th {
    background-color: #212529;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.contextmenu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 4px 0;
  min-width: 160px;
}

// Define styles for the menu items
.menuitem {
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.menuitem.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.tablepagination {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  .button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    color: black;
    cursor: pointer;
  }
  span {
    margin: auto;
    color: black;
  }

  select {
    width: 300px;
  }
}
